<h1>Search Form[Category]</h1>
<hr/>

<fieldset>
	<legend>Search Form</legend>
	<%= form_tag categories_search_form_path, {method: 'get', remote: true, class: 'myform'} do %>
		<%= label_tag :Search, 'Category : ' %>
		<%= text_field_tag :cat_type %>
		<%= submit_tag 'Find Now' %>
	<% end %>

</fieldset>

<br/>
<br/>
Search Result :  <%= @data.count if @data.present? %>
<hr/>
	<% 
	if @data.present?
		@data.each do |d| %>
			<li><%= d.cat_type %></li>
		 <% 
		 end 
	else 
	%>
		<li> No data found </li>
	<% 
	end
	 %>