<!DOCTYPE html>
<html>
<head>
  <title>Crud</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>  
  <%= csrf_meta_tags %>
</head>
<body>
<% if checkCredential.present? %>
	<%= link_to "List Category", categories_path %> | 
	<%= link_to "Add New Category", new_category_path %> | 
	<%= link_to 'Search Category', controller: "categories",  :action => 'search_form' %> |
	<%= link_to 'Sign Out', { :action => 'signout', :controller => 'users'}, method: :get %>
<%	else %>
	<%= link_to "Sign In", {:action => 'signin', :controller => 'users'}, method: :get %>
<% end %>
<%= link_to "Add New Category", new_category_path , :remote => true %>
<br/>
<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>
<br/>
<%= yield %>

</body>
</html>
